<div class="px-4 px-lg-5">
    <div class="content-section-heading">            
        <h2 class="mb-5">My Primary Skills</h2>
    </div> 
    <div class="row gx-4 gx-lg-5">
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/net_Core.png" alt="..." /></span>
            <h4><strong>.Net Core 6</strong></h4>
            <p class="text-faded mb-0">MVC, Web API, Microservices</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/net_framework_logo.png" alt="..." /></span>
            <h4><strong>.Net Framework 4.7</strong></h4>
            <p class="text-faded mb-0">MVC, Web API, WCF</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/mvc_logo.png" alt="..." /></span>
            <h4><strong>MVC</strong></h4>
            <p class="text-faded mb-0">.Net Framework, .Net Core</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/webapi.png" alt="..." /></span>
            <h4><strong>Web API</strong></h4>
            <p class="text-faded mb-0">.Net Framework, .Net Core</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/angular_logo.png" alt="..." /></span>
            <h4><strong>Angular</strong></h4>
            <p class="text-faded mb-0">Angular 14, Angular 18</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/jquery_logo.png" alt="..." /></span>
            <h4><strong>JQuery</strong></h4>
            <p class="text-faded mb-0">javascript Library</p>
        </div>            
    </div>
    <div class="row gx-4 gx-lg-5 pt-5">    
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/javascript.png" alt="..." /></span>
            <h4><strong>javaScript</strong></h4>
            <p class="text-faded mb-0">Scripting Language</p>
        </div>           
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/Azure.png" alt="..." /></span>
            <h4><strong>Azure DevOps</strong></h4>            
        </div> 
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/sql_logo.png" alt="..." /></span>
            <h4><strong>Database</strong></h4>         
            <p class="text-faded mb-0">SQL Server Version 19.2</p>   
        </div>  
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/html_logo.png" alt="..." /></span>
            <h4><strong>Markup Language</strong></h4>
            <p class="text-faded mb-0">Version 5</p>   
        </div>  
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/Bootstrap.png" alt="..." /></span>
            <h4><strong>Bootstrap</strong></h4>
            <p class="text-faded mb-0">Version 5</p>   
        </div>  
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/css_logo.png" alt="..." /></span>
            <h4><strong>Cascading Style Sheets</strong></h4>
            <p class="text-faded mb-0">Version CSS3</p>   
        </div>    
    </div>   
</div>
<div class="container px-4 px-lg-5 pt-5">
    <div class="content-section-heading">            
        <h2 class="mb-5">Other Tech. I Have Worked</h2>
    </div> 
    <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/onesignal.png" alt="..." /></span>
            <h4><strong>OneSignal</strong></h4>
            <p class="text-faded mb-0">OneSignal Browser Notification</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/docusign.png" alt="..." /></span>
            <h4><strong>docusign</strong></h4>
            <p class="text-faded mb-0">Electronic Signatures</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/adobesign.png" alt="..." /></span>
            <h4><strong>Acrobat Sign</strong></h4>
            <p class="text-faded mb-0">Electronic Signatures</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"><img class="img-fluid pb-4" src="assets/images/mytech/GraphQL.png" alt="..." /></span>
            <h4><strong>GraphQL</strong></h4>
            <p class="text-faded mb-0">Open Source Data Query Language</p>
        </div>                 
    </div>
</div>



